.euler {
  .header {
    display: flex;

    box-sizing: border-box;
    border-bottom: 4px solid #141212;
    height: 48px;

    .right-area {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}