.euler {
  .euler-zoom-input {
    box-sizing: border-box;
    padding: 5px 8px;
    border: 2px solid #7F39FB;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
    outline: none;
  }
}
